[Unit]
Description=NoticeMe service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/var/www/noticeme/main

[Install]
WantedBy=multi-user.target
